/* selectors are listed from most general to most specific*/

body {
    background-image: url("../images/Background.png");
    text-align: center;
}

.Contact {
    font-weight:bolder;
}

.headshot {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-position: inside;
}

.Main {
    background-color: white;
    max-width: 960px;
    width: 50%;
    margin: auto;
}

h1 {
    padding: 7px;
}

.bio {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.line {
    margin-left: 15px;
    margin-right: 15px;
    color: lightgrey;
    background-color: lightgrey;
    border-color: lightgrey;
    border-radius: 2px;
    height: 3px;
}