 /* selectors are listed from most general to most specific*/
 
 /* styling for body, background */
body {
    background-image: url("../images/Background.png");
    margin: 0px;
}

/* styling for header/nav bar */
.header {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 70px;
}

/* header section, to be positioned same way as 'main' */
.headersection{
    position: relative;
    background-color: white;
    width: 50%;
    height: 100%;
    max-width: 960px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto; 
}

/* name styling will align the text to the left side of its parent using position: relative */
.name {
    
    background-color: #4aaaa5;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center; 
    width: 225px;
    height: 70px;
    line-height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* Nav buttons */
.nav {
    /* float: left; */
    display: inline;
    padding-left: 15px; 
    width: 200px;
    height: 70px;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Styling for index.html */

.main {
    clear: both;
    background-color: white;
    max-width: 960px;
    min-width: 480px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    /* padding: 10px; */
}

.aboutme {
    font-size: 1.5em;
    font-weight: bolder;
    color: #4aaaa5;
    /* padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px; */
    padding: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.line {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: lightgrey;
    background-color: lightgrey;
    border-color: lightgrey;
    border-width: 0px;
    border-radius: 2px;
    height: 4px;
}

.headshot {
    margin-left: auto;
    margin-right: auto;
}

.bio {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-bottom: 15px;
    margin: 15px;
    font-size: 14px;
}

/* Styling for contact page */

input {
    width: 95%;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    
}

.footer{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 70px;
}

/* styles the title of the main body */
.contactme {
    padding: 15px;
    font-size: 1.5em;
    font-weight: bolder;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* styles the form container */
.contactform {
    /* margin: 15px; */
    padding: 15px;
    width: 100%;
}

/* styles the input box titles */
.formheaders {
    padding-bottom: 5px;
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/* styles the name and email box */
#form{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px lightgrey;
}

/* styles the message input box */
#message{
    margin: 0px;
    width: 100%;
    height: 250px;
    border: solid 1px lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/* styles the form submit button */
.submit {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: solid 2px #4aaaa5;
    margin-left: 15px;
    margin-bottom: 15px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.submit:hover {
    
    background-color: white;
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: solid 2px #4aaaa5;
    margin-left: 15px;
    margin-bottom: 15px;
}