/* selectors are listed from most general to most specific*/

body {
    background-image: url("../images/Background.png");
    border: 2px black;
    text-align: center;
}

/* trying to center the 'about me' tile */
.center p{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50);
}

.headshot {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-position: inside;
}

.Main {
    background-color: darkgrey;
    max-width: 960px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

h1 {
    padding-left: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.bio {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 15px;
}

.line {
    margin-left: 15px;
    margin-right: 15px;
    color: lightgrey;
    background-color: lightgrey;
    border-color: lightgrey;
    border-radius: 2px;
    height: 3px;
}